body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f3f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 400px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    color: #003366;
    margin-bottom: 30px;
}

.input-container {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #003366;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s ease;
}

input[type="number"]:focus {
    border-color: #003366;
}

button {
    padding: 12px 20px;
    background-color: #003366;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 30px;
    display: none;
}

.result-text {
    color: #003366;
    margin-bottom: 10px;
    font-size: 16px;
}

.result-value {
    font-size: 18px;
    font-weight: bold;
    color: #0056b3;
}

footer {
    background-color: #ff6347;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#p
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
